* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-weight: 600;
    background-color: black;
    

}

.heading{
    width: 40%;
    height: 8%;
    color: #d55f15;
    /* background-color: #EFC234; */
    margin: 5% auto;
    font-size: 40px;
    text-align: center;
}
h6{
    display: inline;
}

.clock{
    width: 10%;
    height: 4%;
    margin-left: 42%;
    display: inline;
    color: aqua;
    font-size: 20px;
}

.text-center{
    width: 40%;
    height: 15%;
    border: 1px solid black;
    margin: 0 auto;
    
   
}

#hr{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    float: left;
    font-size: 60px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2.5%;

}
#mint{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    float: left;
    font-size: 60px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2.5%;
}

#sed{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    float: left;
    font-size: 60px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2.5%;
}



#sess{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    float: left;
    font-size: 60px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2.5%;
}